.parentWrapper {
    display:flex;
    flex-direction:column;
    
}
main {
    flex-grow:1;
}

// Make nav bar sticky.
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #e2e8f0;
}

header {
    background-color:#e7edf3;
    color:#e2e8f0;
}

.bg-admin {
    background-color: #dc3545 !important;
    color: #e2e8f0;
    padding:6px;
    font-weight:bold;
    border-radius:4px;
}

.bg-user {
    background-color: #3182ce !important;
    font-weight:bold;
    color: #e2e8f0;
    padding:6px;
    font-weight:bold;
    border-radius:4px;
}
